*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{ /* CORES */
	--darkbrown: #4F2F00;
	--lightbrown: #804A00;
	--orange1: #E87F00;
	--orange2: #FBA900;
	--orange3: #FFD600;
	--cream: #FFF5D3;
}

/* ===================================  ================================================ */

header{
	width: 100%;
	height: 70px;
	background-color: rgba(255, 214, 0, 0.01);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
}

header ul{
    display: flex;
    flex-direction: row;
	gap: 30px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: var(--cream);
    font-size: 20px;
    /* transition: 0.4s; */
    cursor: pointer;
	font-variant: small-caps;
}

/* =================================== HEADER END ================================================ */

menu{
	width: 100%;
	height: 100vh;
	/* background-color: #FBA900; */
	background: rgb(251,169,0);
background: linear-gradient(346deg, rgba(251,169,0,1) 28%, rgba(255,214,0,1) 100%);
}

.menu-area{
	padding-top: 70px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap:4vw
	/* background-color: red; */
}

.menu-area h1{
	width: 50%;
	font-size: 7vw;
	text-align: center;
	font-weight: 750;
	color: #972D07;
	/* background-color: green; */
}

.menu-area img{
	width: 40%;
	height: auto;/* 
	background-color: yellow; */
}

/* =================================== MENU END ================================================ */

#cookies{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #FFD600; */
	background: rgb(232,127,0);
background: linear-gradient(324deg, rgba(232,127,0,1) 0%, rgba(251,169,0,1) 30%);
}

.cookiesArea{
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8%;
	/* background-color: red; */
}

.cookie1, .cookie2, .cookie3{
	width: 25%;
	height: 90%;
	background-color: rgba(100, 100, 100, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cookie1 img{
	width: 100%;
}

.cookie2 img{
	width: 90%;
}

.cookie3 img{
	width: 90%;
}

.cookieText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--cream);
	font-weight: 550;
}


/* =================================== COOKIES END ================================================ */

#sobre{
	width: 100%;
	height: 100vh;
	/* background-color: #E87F00; */
	background: rgb(255,214,0);
background: linear-gradient(193deg, rgba(255,214,0,1) 0%, rgba(255,184,0,1) 50%, rgba(255,214,0,1) 100%);
}

/* =================================== SOBRE END ================================================ */

#contactos{
	width: 100%;
	height: 100vh;
	/* background-color: #FBA900; */
	background: rgb(79,47,0);
background: linear-gradient(297deg, rgba(79,47,0,1) 0%, rgba(128,74,0,1) 32%, rgba(79,47,0,1) 88%);	
}

/* =================================== CONTACTOS END ================================================ */

.footer-main{
	width: 100%;
    height: 70px;
    display: flex;
    background-color: #000000
}

.footer-content{
	font-family: sans-serif;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px auto;
    text-align: center;
    color: #292929;
    gap: 30px;
    /* background-color: red; */
}

.footer-content span a{
	text-decoration: none;
    color: #3c3c3c;
    transition: 0.5s;
}

/* =================================== MEDIA QUERRY ================================================ */

@media (max-width: 500px){

	header ul{
		gap: 15px;
		font-weight: 500;
	}

	.menu-area{
		flex-direction: column;
		padding-top: 0;
	}

	.menu-area h1{
		width: 80%;
		font-size: 12vw;
	}

	.menu-area img{
		width: 70%;
	}

	.cookiesArea{
		flex-direction: column;
		width: 90%;
		height: 80%;
	}

	.cookie1, .cookie3{
		width: 100%;
		height: 28%;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 5vw;
	}

	.cookie2{
		width: 100%;
		height: 28%;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		gap: 5vw;
	}

	.cookie1 img{
		width: 60%;
	}
	
	.cookie2 img{
		width:60%;
	}
	
	.cookie3 img{
		width:60%;
	}
}