@font-face {
	font-family: 'The Big Joe';
	src: url("../../docs/The Big Joe.ttf") format('truetype');
  }

@font-face{
	font-family: 'Nexa-ExtraLight';
	src: url("../../docs/Nexa-ExtraLight.ttf") format('truetype');
} 

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../../docs/Nexa-Heavy.ttf") format('truetype');
}

/*================================================================================*/


#cookies{
	width: 100vw;
	height: calc(100vh + 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--orange2);
}

.cookies-title{
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--orange2);
}

.cookies-title h1{
	font-family: 'Nexa-Heavy', sans-serif;
	font-variant: small-caps;
	font-size: 2rem;
	color: #972D07;
}

.cookies-title p{
	font-family: 'Nexa-ExtraLight', sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.5rem;
	color: var(--lightbrown);
}

/*================================================================================*/

.cookies-big-area{
	width: 100%;
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.cookies-area{
	width: 300px;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	gap: 35px;
	padding: 20px;
	box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.1);
}

.cookie-button h4, .cookie-button button{
	color: #1d1d1d;
}

/*================================================================================*/

.cookie1{
	background: rgb(255,189,110);
	background: radial-gradient(circle, rgba(255,189,110,1) 6%, rgba(232,127,0,1) 61%);
}

.cookie2{
	background: rgb(255,245,211);
	background: radial-gradient(circle, rgba(255,245,211,1) 6%, rgba(255,231,148,1) 61%);
}

.cookie3{
	background: rgb(255,233,119);
	background: radial-gradient(circle, rgba(255,233,119,1) 6%, rgba(255,214,0,1) 61%);
}

.cookie4{
	background: rgb(168,101,55);
	background: radial-gradient(circle, rgba(168,101,55,1) 2%, rgba(127,57,10,1) 61%);
}

.cookie4 .cookie-button button{
	color: var(--cream);
}

/*================================================================================*/

.cookie4 .cookie-name h2{
	color: var(--cream);
}

.cookie4 .cookie-button, button{
	color: var(--cream);
}

/*================================================================================*/

.cookie-img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cookie-img img{
	width: 85%;
}

.cookie2 .cookie-img img{
	width: 80%;
	height: 170px;
}

/*================================================================================*/

.cookie-name{
	width: 100%;
}

.cookie-name h2{
	text-align: left;
	font-family: 'Nexa-Heavy';
	color: #972D07;
}

/*================================================================================*/

.cookie-desc{
	width: 100%;
}

.cookie-desc p{
	font-family: 'Nexa-ExtraLight';
	color: #1d1d1d;
	font-weight: bold;
}

.dish-rate i{
	color: #e9a209;
}

.cookie-button{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.cookie-button h4{
	font-family: 'Nexa-ExtraLight';
	font-weight: 600;
}


/* =================================== MEDIA QUERRY ================================================ */

@media (max-width: 1170px){

	#cookies{
		
	}

	.cookies-big-area{
		padding: 0px 20px;
		overflow-x: scroll;
		gap: 20px;
		justify-content: start;
	}

	.cookies-area{
		min-width: 300px;
	}
}