@font-face {
	font-family: 'The Big Joe';
	src: url("../../docs/The Big Joe.ttf") format('truetype');
  }

@font-face{
	font-family: 'Nexa-ExtraLight';
	src: url("../../docs/Nexa-ExtraLight.ttf") format('truetype');
} 

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../../docs/Nexa-Heavy.ttf") format('truetype');
}

/*================================================================================*/


#cookies{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--orange2);
}

.cookies-title{
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--orange2);
}

.cookies-title h1{
	font-family: 'Nexa-Heavy', sans-serif;
	font-variant: small-caps;
	font-size: 2rem;
	color: #972D07;
}

.cookies-title p{
	font-family: 'Nexa-ExtraLight', sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.5rem;
	color: var(--lightbrown);
}

/*================================================================================*/

.cookies-big-area{
	width: 100%;
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.cookies-area{
	width: 300px;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	gap: 30px;
	padding: 20px;
}

.cookie1{
	background-color: var(--orange1);
}

.cookie2{
	background-color: var(--cream);
}

.cookie3{
	background-color: var(--orange3);
}

.cookie4{
	background-color: var(--lightbrown);
}
/*================================================================================*/
.cookie-img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cookie-img img{
	width: 85%;
}

.cookie2 .cookie-img img{
	width: 80%;
	height: 92%;
}

/*================================================================================*/

.cookie-name{
	width: 100%;
}

.cookie-name h2{
	text-align: left;
	font-family: 'Nexa-Heavy';
	color: #972D07;
}

/*================================================================================*/

.cookie-desc{
	width: 100%;
}

.cookie-desc p{
	font-family: 'Nexa-ExtraLight';
	color: #1d1d1d;
}


/* =================================== MEDIA QUERRY ================================================ */

@media all and (max-width: 1170px){
	.cookies-big-area{
		overflow: auto;
		gap: 20px;
	}
}