@font-face {
	font-family: 'The Big Joe';
	src: url("../../docs/The Big Joe.ttf") format('truetype');
  }

@font-face{
	font-family: 'Nexa-ExtraLight';
	src: url("../../docs/Nexa-ExtraLight.ttf") format('truetype');
} 

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../../docs/Nexa-Heavy.ttf") format('truetype');
}

/*================================================================================*/


header{
	width: 100%;
	margin: 30px auto;
	position: fixed;
	z-index: 10;
}

#navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar ul{
    display: flex;
    flex-direction: row;
	gap: 30px;
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: var(--cream);
    font-size: 1.2rem;
    cursor: pointer;
	font-variant: small-caps;
	font-family: 'Nexa-ExtraLight', sans-serif;
	font-weight: 600;
}

#navbar img{
	height: 30px;
	position: absolute;
	left: 20px;
}

.btn-header{
	position: absolute;
	right: 20px;
}

#mobile_btn{
	display: none;
}

#mobile_menu{
	display: none;
}

/* =================================== MEDIA QUERRY ================================================ */

@media (max-width: 1170px){
	header ul{
		gap: 50px;
		font-weight: 500;
	}

	.nav-item,
	#navbar .btn-header{
		display: none;
	}

	#mobile_btn{
		display: block;
		border: none;
		background-color: transparent;
		font-size: 1.5rem;
		cursor: pointer;
		color: var(--cream);
		position: absolute;
		right: 20px;
	}

	#mobile_menu.active{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: -30px;
		height: 100vh;
		background-color: var(--orange2);
	}

	.mobile_nav_list{
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 12px 0px;
		list-style: none;
	}

	.mobile_nav_item a{
		text-decoration: none;
		color: var(--cream);
		font-size: 1.2rem;
		cursor: pointer;
		font-variant: small-caps;
		font-family: 'Nexa-ExtraLight', sans-serif;
		font-weight: 600;
	}
}