@font-face {
	font-family: 'The Big Joe';
	src: url("../../docs/The Big Joe.ttf") format('truetype');
  }

@font-face{
	font-family: 'Nexa-ExtraLight';
	src: url("../../docs/Nexa-ExtraLight.ttf") format('truetype');
} 

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../../docs/Nexa-Heavy.ttf") format('truetype');
}

/*================================================================================*/


#home{
	width: 100%;
	height: 100vh;
	display: flex;
	background: rgb(251,169,0);
	background: linear-gradient(346deg, rgba(251,169,0,1) 28%, rgba(255,214,0,1) 100%);
}

.home-cta{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-cta h1{
	width: 80%;
	padding-bottom: 20px;
	font-family: 'Nexa-Heavy', sans-serif;
	font-variant: small-caps;
	color: var(--darkbrown);
	font-size: 4rem;
	text-align: justify;
	text-align-last: center;
	/* background-color: red; */
}

.home-cta span{
	color: #972D07;
}

#cta_buttons{
	display: flex;
	gap: 10px;
	padding-bottom: 20px;
}

.home-img{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-img img{
	width: 80%;
}

.btn-menu{
	width: fit-content;
	font-family: 'Nexa-ExtraLight';
}

#phone_button{
	text-decoration: none;
	font-weight: bolder;
}

.social-media-buttons{
	display: flex;
	gap: 18px;
}

.social-media-buttons a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 40px;
	font-size: 1.5rem;
	border-radius: 10px;
	text-decoration: none;
	color: var(--cream);
	box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

/* =================================== MEDIA QUERRY ================================================ */

@media (max-width: 1170px){
	#home{
		flex-direction: column;
	}

	.home-cta{
		width: 100%;
		height: 50%;
		padding-top: 40px;
	}

	.home-cta h1{
		width: 90%;
		font-size: 2.6rem;
	}

	.home-img{
		width: 100%;
		height: 50%;
	}

	.home-img img{
		width: 70%;
	}
}