@font-face {
	font-family: 'The Big Joe';
	src: url("../../docs/The Big Joe.ttf") format('truetype');
  }

@font-face{
	font-family: 'Nexa-ExtraLight';
	src: url("../../docs/Nexa-ExtraLight.ttf") format('truetype');
} 

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../../docs/Nexa-Heavy.ttf") format('truetype');
}

/*================================================================================*/



#menu{
	overflow: hidden;
	width: 100vw;
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(79,47,0);
	background: linear-gradient(297deg, rgba(79,47,0,1) 0%, rgba(128,74,0,1) 32%, rgba(79,47,0,1) 88%);
}

.menu-big-area{
	width: 100%;
	height: 100%;
	display: flex;
	overflow: auto;
}

/*================================================================================*/

.menu-default{
	width: 33.3%;
	height: 100%;
	padding: 65px 40px;
	overflow: hidden;
}

.menu-default h2{
	font-family: 'Nexa-Heavy';
	font-size: 1.5rem;
	width: 100%;
	text-align: left;
	margin-bottom: 25px;
}

.menu-default h3{
	font-family: 'Nexa-Heavy';
	font-size: 1.2rem;
	width: 100%;
	text-align: left;
}

.menu-default p{
	font-family: 'Nexa-ExtraLight';
	font-weight: bold;
	font-size: 1.1rem;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
}

/*================================================================================*/

.menu1{
	background-color: var(--orange3);
}

.menu1 img{
	width: 90%;
	padding: 40px 0;
}

.menu1 h2, .menu1 h3, .menu1 p{
	color: var(--darkbrown);
}

/*================================================================================*/

.menu2{
	background-color: var(--lightbrown);
	overflow: hidden;
}

.menu2 h2, .menu2 h3, .menu2 p{
	color: var(--cream);
}

.menu2 .cookie-deco1{
	width: 100%;
	position: relative;
	left: -40px;
}

/*================================================================================*/

.menu3{
	background-color: var(--cream);
	background-image: url(../../img/Chocolate-1-trans.png);
	background-size: cover;
}

.menu3-display{
	margin-top: -150px;
}

.menu3 h2, .menu3 h3, .menu3 p{
	color: var(--lightbrown);

}

.menu3 .cookie5{
	position: relative;
	top: -150px;
	right: -150px;
	width: 80%;
}

.menu3 .cookie5 img{
	width: 100%;
}

/* =================================== MEDIA QUERRY ================================================ */

@media (max-width: 1170px){
	.menu-default{
		min-width: 95vw;
	}
}